@import "tailwindcss";
@plugin "daisyui";

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@theme {
	--animate-pingpulse: pingpulse 1s infinite;

	@keyframes pingpulse {
		30% {
			transform: scale(1.4);
		}
		100% {
			transform: scale(1);
		}
	}
}

@layer base {
	html {
		@apply h-full;
	}

	body {
		@apply h-full;
	}

	h2 {
		@apply text-lg font-bold mt-[15px] first:mt-0 mb-[10px] last:mb-0;
	}

	p {
		@apply mt-[5px];
	}
}
