@import "tailwindcss";
@plugin "daisyui";

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@theme {
	--animate-pingpulse: pingpulse 1s infinite;

	@keyframes pingpulse {
		30% {
			transform: scale(1.4);
		}
		100% {
			transform: scale(1);
		}
	}
}
